@model CarRentals.Models.Car.CarViewModel


<div class="container">
    <h3 class="display-4">Car details</h3>
    <div class="col-md-6">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">

                @for (int i = 0; i < Model.CarGalleries.Count(); i++)
                {
                    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="@i" class="@(i==0 ? "active" : "") "></li>
                }
            </ol>
            <div class="carousel-inner">
                @for (int i = 0; i < Model.CarGalleries.Count(); i++)
                {
                    <div class="@(i==0 ? "carousel-item active" : "carousel-item") ">
                        <img class="d-block w-100" src="@Model.CarGalleries[i].URL" alt="@Model.CarGalleries[i].Name">
                    </div>
                }

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <h1>@Model.Name</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-primary">
                <span class="label label-primary">Price: </span>
                <span class="monospaced">$@Model.Price</span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <span class="label label-primary">PlateNumber: </span>
                <span class="monospaced">
                    @Model.PlateNumber
                </span>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            @if (User.IsInRole("Admin"))
            {
                <a asp-controller="Car" asp-action="Update" asp-route-id="@Model.Id" class="btn btn-primary btn-sm">
                    Update car
                </a>

                <form asp-controller="Car" asp-action="DeleteCar" asp-route-id="@Model.Id" method="post" class="del-btn">
                    <button type="submit" class="btn btn-danger btn-sm">
                        Delete Car
                    </button>
                </form>
            }
        </div>
    </div>

    @if (Model.Comments.Count != 0)
    {
        <div class="card mb-3">
            <div class="card-header bg-light">
                Comments:
            </div>
            <ul class="list-group list-group-flush">
                @foreach (var comment in Model.Comments)
                {
                    <li class="list-group-item">
                        @comment.CommentText
                        <span class="badge bg-dark">@comment.UserName</span>

                        <a asp-controller="Comment" asp-action="Update"
                   asp-route-id="@comment.Id" class="btn btn-primary btn-sm">
                            <i class="fas fa-edit"></i>
                        </a>

                        <form asp-controller="Comment" asp-action="DeleteComment" asp-route-id="@comment.Id" class="del-btn">
                            <button type="submit" class="btn btn-danger btn-sm">
                                <i class="fas fa-trash"></i>
                            </button>
                        </form>
                    </li>
                }
            </ul>
        </div>
    }
    <br />
    <div>
        <a asp-controller="Car" asp-action="Index" class="btn btn-secondary">
            Back to list
        </a>
    </div>


</div>


